*{
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-size: 15px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Status envio*/

.statusEnvioSucesso{
    position: absolute;
    left: 39%;
    background-color: greenyellow;
    padding: 4px;
    border: 1px solid black;
    display: none;
    animation: animateStatus;
    animation-duration: 500ms;
}

@keyframes animateStatus {
    0%{
        opacity: 0;
        top: -15px;
    }

    100%{
        opacity: 1;
        top: 0px;
    }
}


/*Header - cart*/
header{
    display: flex;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    background-color: rgb(189, 189, 189);
}

.btn-cart{
    font-size: 20px;
    background-color: rgb(46, 154, 255);
    color: white;
    cursor: pointer;
    margin-right: 35px;
}
.btn-cart:hover{
    background-color: rgb(45, 144, 236);
}

.modalCart{
    display: none;
    position: absolute;
    border: 2px solid black;
    right: 1px;
    width: 290px;
    height: 587px;
    background-color: rgb(125, 214, 255);
    transition: all ease-in-out;
}

/*Resultado produtos cart*/
.resultado-produtos{
    margin-left: 60px;
}


.resultado-sub{
    margin-left: 150px;
}

.resultado-total-produto{
    margin-left: 190px;
}

i{
    cursor: pointer;
}
/*Produto*/

.produtos{
    display: flex;
    justify-content: space-around;
}

.produtoFinal{
    text-align: center;
    margin-top: 7%;
}

.produto{
    box-shadow: 1px 1px 10px rgb(167, 167, 167);
    border-radius: 10px;
    border: 2px solid black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.produto-img{
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-add-remove{
    margin-bottom: 20px;
}

.quantidadeProduto{
    width: 40px;
}

.resultadoProduto{
    font-size: 20px;
    font-weight: bold;
}

label{
    font-size: 20px;
}

.btn-add{
    width: 220px;
    height: 40px;
    margin-bottom: 20px;
    background-color: rgb(19, 230, 19);
    cursor: pointer;
}
.btn-add:hover{
    background-color: rgb(20, 199, 20);
}