*{
    box-sizing: border-box;
}

body{
    background-color: #eee;
    font-size: 15px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header .first-navBar{
    background-color: #131921;
    height: 100%;
    margin-bottom: -15px;
    margin-top: -15px;
} 

header .first-navBar .first-ul .logo{
    margin-left: -30px;
}

header .first-navBar .first-ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

header .first-navBar .first-ul div{
    display: block;
}
header .first-navBar .first-ul div:hover{
    border: 1px solid white;
}

header .second-navBar{
    background-color: #232f3e;
    height: 35px;
    display: flex;
    align-items: center;
}

header .second-navBar .second-ul{
    display: flex;
    align-items: center;
    color: white;
}

header .second-navBar .second-ul div{
    margin-right: 15px;
    display: inline;
}
header .second-navBar .second-ul div:hover{
    border: 1px solid white;
}

/*Search*/
.search{
    display: flex;
    border: none;
}

#searchProduct{
    width: 500px;
    height: 40px;
    border: none;
}

select{
    width: 70px;
    height: 40px;
    font-size: 13px;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

option{
    font-size: 16px;
}

#submitSearch{
    width:50px;
    background-color: rgb(243, 172, 41);
    cursor: pointer;
    height: 40px;
    border: none;
}

.meet{
    margin-left: 170px;
}




